server.servlet.context-path: /sykefravarsstatistikk-api

management.endpoints.web:
  exposure.include: info, health, metrics, prometheus
  base-path: /internal/actuator
  flyway:
    locations: classpath:/db/migration

spring:
  profiles:
    active: local

---

spring:
  profiles: local
  h2.console:
    enabled: true
    path: /h2

wiremock.mock:
  port: 8081

altinn:
  url: "http://localhost:${wiremock.mock.port}/altinn/"
  apikey: "test"
  apigw.apikey: "test"
  proxy:
    url: "http://localhost:${wiremock.mock.port}/altinn-rettigheter-proxy/"
  iaweb.service:
    code: 3403
    edition: 1

enhetsregisteret:
  url: "http://localhost:${wiremock.mock.port}/enhetsregisteret/"

no.nav.security.jwt:
  issuer:
    iss-localhost:
      discoveryurl: http://metadata
      accepted_audience: aud-localhost
    selvbetjening:
      discoveryurl: http://metadata
      accepted_audience: aud-localhost

statistikk.import.siste.arstall: 2019
statistikk.import.siste.kvartal: 2

applikasjon.datasource:
  url: jdbc:h2:mem:test
  username: SA
  password:
  driver-class-name: org.h2.Driver

datavarehus.datasource:
  url: jdbc:h2:mem:test
  username: SA
  password:
  driver-class-name: org.h2.Driver

unleash.url: http://unleash.herokuapp.com/api/

nais.cluster.name: local

---

spring:
  profiles: db-test

  flyway:
    locations: classpath:/db/migration,classpath:/db/test-datavarehus

applikasjon.datasource:
  url: jdbc:h2:mem:test
  username: SA
  password:
  driver-class-name: org.h2.Driver

datavarehus.datasource:
  url: jdbc:h2:mem:test
  username: SA
  password:
  driver-class-name: org.h2.Driver


---

spring:
  profiles: mvc-test

no.nav.security.jwt:
  issuer:
    iss-localhost:
      discoveryurl: http://metadata
      accepted_audience: aud-localhost
    selvbetjening:
      discoveryurl: http://metadata
      accepted_audience: aud-localhost

enhetsregisteret:
  url: "http://localhost:1331/enhetsregisteret/"

altinn:
  url: "http://localhost:1331/altinn/"
  apikey: "test"
  apigw.apikey: "test"
  iaweb.service:
    code: 3403
    edition: 1

---

spring:
  profiles: dev

wiremock.mock:
  port: 8081

enhetsregisteret:
  url: "http://localhost:${wiremock.mock.port}/enhetsregisteret/"

altinn:
  url: "https://api-gw-q1.adeo.no/"
  apikey: ${ALTINN_APIKEY}
  apigw.apikey: ${ALTINN_APIGW_APIKEY}
  proxy:
    url: https://arbeidsgiver.nais.preprod.local/altinn-rettigheter-proxy
  iaweb.service:
    code: 3403
    edition: 1

no.nav.security.oidc:
  issuers: selvbetjening
  issuer.selvbetjening:
    discoveryurl: https://login.microsoftonline.com/NAVtestB2C.onmicrosoft.com/v2.0/.well-known/openid-configuration?p=B2C_1A_idporten_ver1
    accepted_audience: 0090b6e1-ffcc-4c37-bc21-049f7d1f0fe5

statistikk.import.siste.arstall: 2019
statistikk.import.siste.kvartal: 1

database.navn: sykefravarsstatistikk
vault.mount-path: postgresql/preprod-fss

datavarehus.datasource:
  url: ${DVH_DATASOURCE_URL}
  username: ${DVH_BRUKERNAVN}
  password: ${DVH_PASSORD}
  driver-class-name: oracle.jdbc.OracleDriver

unleash.url: https://unleash.nais.adeo.no/api/

---

spring:
  profiles: prod

enhetsregisteret:
  url: "https://data.brreg.no/enhetsregisteret/api/"

altinn:
  url: "https://api-gw.adeo.no/"
  apikey: ${ALTINN_APIKEY}
  apigw.apikey: ${ALTINN_APIGW_APIKEY}
  proxy:
    url: https://arbeidsgiver.nais.adeo.no/altinn-rettigheter-proxy
  iaweb.service:
    code: 3403
    edition: 2

no.nav.security.jwt:
  issuer.selvbetjening:
    discoveryurl: https://login.microsoftonline.com/navnob2c.onmicrosoft.com/v2.0/.well-known/openid-configuration?p=B2C_1A_idporten
    accepted_audience: 45104d6a-f5bc-4e8c-b352-4bbfc9381f25

statistikk.import.siste.arstall: 2019
statistikk.import.siste.kvartal: 3

database.navn: sykefravarsstatistikk
vault.mount-path: postgresql/prod-fss

datavarehus.datasource:
  url: ${DVH_DATASOURCE_URL}
  username: ${DVH_BRUKERNAVN}
  password: ${DVH_PASSORD}
  driver-class-name: oracle.jdbc.OracleDriver

unleash.url: https://unleash.nais.adeo.no/api/
