server.servlet.context-path: /sykefravarsstatistikk-api

management.endpoints.web:
  exposure.include: info, health, metrics, prometheus
  base-path: /internal/actuator
  flyway:
    locations: classpath:/db/migration


kafka:
  outbound:
    bootstrapServers: ${KAFKA_BROKERS:localhost:9092}
    securityProtocol: SSL
    caPath: ${KAFKA_CA_PATH}
    keystorePath: ${KAFKA_KEYSTORE_PATH:/dev/zero}
    truststorePath: ${KAFKA_TRUSTSTORE_PATH:/dev/zero}
    credstorePassword: ${KAFKA_CREDSTORE_PASSWORD:pwd}

spring:
  profiles:
    active: local
