server.servlet.context-path: /sykefravarsstatistikk-api

management.endpoints.web:
  exposure.include: info, health, metrics, prometheus
  base-path: /internal/actuator
  flyway:
    locations: classpath:/db/migration


kafka:
  outbound:
    topic: arbeidsgiver.sykefravarsstatistikk-v1
    bootstrapServers: ${KAFKA_BROKERS:localhost:9092}
    securityProtocol: SSL
    caPath: ${KAFKA_CA_PATH}
    keystorePath: ${KAFKA_KEYSTORE_PATH:/dev/zero}
    truststorePath: ${KAFKA_TRUSTSTORE_PATH:/dev/zero}
    credstorePassword: ${KAFKA_CREDSTORE_PASSWORD:pwd}

spring:
  profiles:
    active: local

---

spring:
  config.activate.on-profile: db-test

  flyway:
    locations: classpath:/db/migration,classpath:/db/test-datavarehus

applikasjon.datasource:
  url: jdbc:h2:mem:test
  username: SA
  password:
  driver-class-name: org.h2.Driver

datavarehus.datasource:
  url: jdbc:h2:mem:test
  username: SA
  password:
  driver-class-name: org.h2.Driver


---

spring:
  config.activate.on-profile: dev

wiremock.mock:
  port: 8081

enhetsregisteret:
  url: "http://localhost:${wiremock.mock.port}/enhetsregisteret/"

altinn:
  url: "https://api-gw-q1.adeo.no/"
  apikey: ${ALTINN_APIKEY}
  apigw.apikey: ${ALTINN_APIGW_APIKEY}
  proxy:
    url: https://arbeidsgiver.dev.intern.nav.no/altinn-rettigheter-proxy
  iaweb.service:
    code: 3403
    edition: 1

no.nav.security.jwt.issuer.selvbetjening:
    discoveryurl: ${LOGINSERVICE_IDPORTEN_DISCOVERY_URL}
    accepted_audience: ${LOGINSERVICE_IDPORTEN_AUDIENCE}
    cookiename: selvbetjening-idtoken

statistikk.importering.aktivert: true
statistikk.eksportering.aktivert: true

database.navn: sykefravarsstatistikk
vault.mount-path: postgresql/preprod-fss

datavarehus.datasource:
  url: ${DVH_DATASOURCE_URL}
  username: ${DVH_BRUKERNAVN}
  password: ${DVH_PASSORD}
  driver-class-name: oracle.jdbc.OracleDriver

unleash.url: https://unleash.nais.io/api/

---

spring:
  config.activate.on-profile: prod

enhetsregisteret:
  url: "https://data.brreg.no/enhetsregisteret/api/"

altinn:
  url: "https://api-gw.adeo.no/"
  apikey: ${ALTINN_APIKEY}
  apigw.apikey: ${ALTINN_APIGW_APIKEY}
  proxy:
    url: https://arbeidsgiver.intern.nav.no/altinn-rettigheter-proxy/
  iaweb.service:
    code: 3403
    edition: 2

no.nav.security.jwt.issuer.selvbetjening:
    discoveryurl: ${LOGINSERVICE_IDPORTEN_DISCOVERY_URL}
    accepted_audience: ${LOGINSERVICE_IDPORTEN_AUDIENCE}
    cookiename: selvbetjening-idtoken

statistikk.importering.aktivert: true
statistikk.eksportering.aktivert: true

database.navn: sykefravarsstatistikk
vault.mount-path: postgresql/prod-fss

datavarehus.datasource:
  url: ${DVH_DATASOURCE_URL}
  username: ${DVH_BRUKERNAVN}
  password: ${DVH_PASSORD}
  driver-class-name: oracle.jdbc.OracleDriver

unleash.url: https://unleash.nais.io/api/
