<configuration scan="true">
    <appender name="consoleJsonAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                <valueMask>
                    <value>(^|\W)\d{11}(?=$|\W)</value>
                    <mask>$1***********</mask>
                </valueMask>
            </jsonGeneratorDecorator>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </encoder>
    </appender>
    <appender name="sporbarhetsloggAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/secure-logs/secure.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/secure-logs/secure.log.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>1</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>128MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <logger level="INFO" name="sporbarhetslogger" additivity="false">
        <appender-ref ref="sporbarhetsloggAppender"/>
    </logger>
    <logger name="org.apache.kafka.clients.NetworkClient" level="ERROR"/>
    <root level="INFO">
        <appender-ref ref="consoleJsonAppender"/>
    </root>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="info"/>
</configuration>
