<configuration>
    <include resource="logback-appenders.xml"/>

    <!--  Bruk default Spring log config når man kjører lokalt  -->
    <springProfile name="local,compose">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
    </springProfile>

    <!--  Bruk Logstash appender og audit-log når man kjører i dev og prod  -->
    <springProfile name="prod,dev">
        <root level="INFO">
            <appender-ref ref="LOGSTASH_CONSOLE"/>
            <appender-ref ref="AUDIT_LOG"/>
        </root>
    </springProfile>

    <logger name="org.apache.kafka.clients.NetworkClient" level="ERROR"/>
    <logger name="org.springframework.web" level="INFO"/>
</configuration>
