<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="static-appender" class="config.StaticAppender"/>

    <root level="error">
        <appender-ref ref="static-appender"/>
    </root>

    <logger name="org.springframework.web" level="info"/>
    <logger name="no.nav.security.token.support.spring.test" level="debug"/>
</configuration>
