<configuration scan="true">
    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="org.springframework.web" level="info"/>
        <logger name="no.nav.security.token.support.spring.test" level="debug"/>
    </springProfile>
    <springProfile name="mvc-test">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="org.springframework.web" level="info"/>
        <logger name="no.nav.security.token.support.spring.test" level="debug"/>
    </springProfile>
    <springProfile name="db-test">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="org.springframework.web" level="info"/>
    </springProfile>

    <appender name="static-appender" class="common.StaticAppender"/>
    <root level="error">
        <appender-ref ref="static-appender"/>
    </root>

</configuration>
