name: Deploy topics
run-name: Deploy topics ~~ "${{ github.event.head_commit.message }}"
on:
  push:
    paths:
      - 'nais/topics/**'
      - '.github/workflows/deploy-topics.yaml'
jobs:
  deployTopics:
    permissions:
      id-token: write
    name: Deploy topics
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v4
      - name: Deploy topics to prod-gcp
        if: github.ref == 'refs/heads/master'
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: "\
              nais/topics/topic-arbeidsgiver-sykefravarsstatistikk-land-prod.yaml,\
              nais/topics/topic-arbeidsgiver-sykefravarsstatistikk-virksomhet-prod.yaml,\
              nais/topics/topic-arbeidsgiver-sykefravarsstatistikk-naring-prod.yaml,\
              nais/topics/topic-arbeidsgiver-sykefravarsstatistikk-sektor-prod.yaml,\
              nais/topics/topic-arbeidsgiver-sykefravarsstatistikk-bransje-prod.yaml,\
              nais/topics/topic-arbeidsgiver-sykefravarsstatistikk-metadata-virksomhet-prod.yaml,\
              nais/topics/topic-arbeidsgiver-sykefravarsstatistikk-naringskode-prod.yaml,\
              nais/topics/topic-arbeidsgiver-sykefravarsstatistikk-virksomhet-gradert-prod.yaml"